/*   */

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  box-sizing: border-box;
}

main {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  flex-direction: column;
}
.container {
  padding: 30px;
  background-color: #ffffff;
  height: 680px;
  width: 870px;
  border-radius: 5px;
  margin-bottom: 30px;
}

/* top section design */

.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
  line-height: 36px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 135px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.player-name {
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}

/* top-players der design ends here */

/* top blog design starts */
.blog-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 80px;
  grid-row-gap: 26px;
}

.detail {
  display: flex;
  justify-content: center;
  align-items: start;
}
.detail img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
}

.detail-text h3 {
  font-size: 20px;
}
.author {
  color: #9f9f9f;
  font-size: 16px;
}

.detail-text a {
  text-decoration: none;
  color: #562eff;
  cursor: pointer;
}

/* Latest course section design starts  */

.container-2 {
  width: 870px;
  height: 380px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.course-parts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.course-card {
  width: 245px;
  height: 269.79px;
  border-radius: 15px;
  padding: 30px 16px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.075);
}

.course-card img {
  width: 100%;
}
.course-card p {
  font-size: 14px;
  color: #ed6b4f;
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star-part .fas {
  color: #ffc014;
}

.duration-part {
  background-color: #ffe4e8;
  padding: 3px 6px;
  border-radius: 20px;
  color: #ed6b4f;
}

/* Media queries design starts */

@media (max-width: 688px) {
  .container {
    height: 100%;
    width: 100%;
  }
  .section-title {
    font-size: 20px;
    text-align: center;
  }
  .top-players {
    padding: 0;
  }
  .players {
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
  }
  .player {
    flex-direction: column;
  }
  .player img {
    width: 28px;
    height: 28px;
    margin-right: 8px;
  }
  .player-name {
    font-size: 13px;
  }
  /* top-players der design ends here */

  /* top blog design starts */

  .blog-details {
    grid-template-columns: 1fr;
    /* grid-row-gap: 5px; */
  }

  .detail {
    flex-direction: column;
  }
  .detail img {
    width: auto;
    margin-right: 0;
  }
  .detail-text h3 {
    font-size: 15px;
  }
  .author {
    color: #9f9f9f;
    font-size: 12px;
  }

  /* Latest course section design starts  */

  .container-2 {
    height: 100%;
    width: 100%;
  }

  .course-parts {
    grid-template-columns: 1fr;
  }

  .course-card {
    width: auto;
    height: auto;
    margin-bottom: 20px;
  }
  .card-details p {
    font-size: 10px;
  }
  .card-details h3 {
    font-size: 14px;
  }

  .star-part .fas {
    font-size: 9px;
  }
  .duration-part {
    font-size: 12px;
  }
}

/* Fot tablet ipad design */

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .container,
  .container-2 {
    height: 100%;
    width: 100%;
  }
  .players,
  .blog-details,
  .course-parts {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail-text h3 {
    font-size: 16px;
  }
  .author {
    font-size: 14px;
  }
  .course-card {
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }
}
