* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  padding: 30px;
  background-color: #ffffff;
  height: 680px;
  width: 870px;
  border-radius: 5px;
  margin: 36px 0;
}

/* Navigation parts design starts here */

header {
  background-color: #562eff;
  padding: 10px;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 930px;
  color: #ffffff;
  margin: 0 auto;
}

.logo-part {
  display: flex;
  align-items: center;
}

.logo-part img {
  width: 40px;
  height: 50px;
  margin-right: 15px;
}

.logo-part a {
  text-decoration: none;
  font-size: 24px;
  color: #ffffff;
}

.nav-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-links ul li {
  list-style: none;
  margin-right: 30px;
}

.nav-links ul li:last-child {
  margin-right: 0;
}
.nav-links ul li a {
  text-decoration: none;
  color: #ffffff;
}
/* Navigation parts design ends here */

/* top section design */

.top-players {
  margin-bottom: 35px;
}
.section-title {
  color: #562eff;
  font-size: 24px;

  margin-bottom: 25px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 35px;
  grid-column-gap: 130px;
}
.player {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 50px;
  padding: 10px;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.068);
}
.player img {
  width: 56px;
  height: 56px;
  margin-right: 16px;
}

.player-name {
  font-size: 18px;
}

hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 25px;
}

/* top-players der design ends here */

/* top blog design starts */

.blog-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 75px;
  grid-row-gap: 26px;
}

.detail {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.068);
}
.detail img {
  width: 177px;
  height: 117px;
  margin-right: 16px;
  margin-bottom: 10px;
}

.detail-text h3 {
  font-size: 20px;
  margin-bottom: 6px;
}
.author {
  color: #9f9f9f;
  font-size: 16px;
}

.detail-text a {
  text-decoration: none;
  color: #562eff;
  cursor: pointer;
}

/* Latest course section design starts  */

.container-2 {
  width: 870px;
  height: 380px;
  padding: 30px;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
}
.course-parts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
}

.course-card {
  width: 245px;
  height: 269.79px;
  border-radius: 15px;
  padding: 30px 16px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.075);
}

.course-card img {
  width: 100%;
}
.course-card p {
  font-size: 14px;
  color: #ed6b4f;
}

.bottom-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star-part .fas {
  color: #ffc014;
}

.duration-part {
  background-color: #ffe4e8;
  padding: 3px 6px;
  border-radius: 20px;
  color: #ed6b4f;
}
/* Footer part design starts here */

footer {
  background-color: #562eff;
  padding: 10px;
  color: #ffffff;
  width: 100%;
}
.footer-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 930px;
  margin: 0 auto;
}
.site-link {
  font-size: 24px;
  display: flex;
}

.site-link p {
  margin-right: 15px;
}

.site-link p:last-child {
  margin-right: 0;
}

/* Media queries design starts */

@media (max-width: 588px) {
  .navbar {
    flex-direction: column;
    width: 100%;
  }

  .logo-part {
    display: flex;
    align-items: center;
  }

  .logo-part img {
    width: 30px;
    height: 40px;
    margin-right: 10px;
  }

  .logo-part a {
    font-size: 20px;
  }

  .nav-links ul {
    flex-direction: column;
  }

  .nav-links ul li {
    padding: 15px 0;
    margin: 0;
  }

  .container {
    height: auto;
    width: 100%;
  }
  .section-title {
    font-size: 22px;
    text-align: center;
  }

  .players {
    grid-template-columns: 1fr;
    grid-row-gap: 12px;
  }
  .player {
    flex-direction: column;
  }
  .player img {
    width: 40px;
    height: 40px;
  }
  .player-name {
    font-size: 16px;
  }
  /* top-players der design ends here */

  /* top blog design starts */

  .blog-details {
    grid-template-columns: 1fr;
    /* grid-row-gap: 5px; */
  }

  .detail {
    flex-direction: column;
  }
  .detail img {
    width: 320px;
    height: 180px;
    margin-right: 0;
  }
  .detail-text h3 {
    font-size: 18px;
  }
  .author {
    font-size: 15px;
  }

  /* Latest course section design starts  */

  .container-2 {
    height: 100%;
    width: 100%;
  }

  .course-parts {
    grid-template-columns: 1fr;
  }

  .course-card {
    width: auto;
    margin-bottom: 20px;
  }
  .card-details p {
    font-size: 13px;
  }
  .card-details h3 {
    font-size: 16px;
  }

  .star-part .fas {
    font-size: 12px;
  }
  .duration-part {
    font-size: 12px;
  }

  footer {
    padding: 10px;
  }
  .footer-part {
    width: 100%;
  }
  .site-link {
    font-size: 24px;
    display: flex;
  }
}

/* Fot tablet ipad design */

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .navbar {
    width: 100%;
  }

  .logo-part img {
    width: 40px;
    height: 50px;
    margin-right: 12px;
  }

  .logo-part a {
    font-size: 22px;
  }

  .nav-links ul li {
    padding: 15px 0;
    margin-right: 12px;
  }
  .container,
  .container-2 {
    height: auto;
    width: 100%;
  }
  .players,
  .blog-details,
  .course-parts {
    grid-template-columns: repeat(2, 1fr);
  }
  .detail-text h3 {
    font-size: 16px;
  }
  .author {
    font-size: 14px;
  }
  .course-card {
    width: auto;
    height: auto;
    margin-bottom: 30px;
  }

  footer {
    padding: 10px;
  }
  .footer-part {
    width: 100%;
  }
}
